<style type="text/css">
    body {
        background-color: #f4f4f4;
        color: #5a5656;
        line-height: 1.5em;
        text-align: center;
        background-image: url('~/Images/vancity_buzz.png');
        background-size: 1440px 800px;
    }
</style>
<br> &nbsp  <br> &nbsp
<h3>BREWING HAS NEVER BEEN EASIER</h3>
<br> &nbsp
<p class="lead"> Introducing Canada's First Automated Homebrewing System</p>
<br> &nbsp  <br> &nbsp
@*<p class="lead">Brewstr offers a reliable and convenient automatic brewing system that allows craft beer enthusiasts that lack knowledge and equipment to home-brew exceptional quality beer!</p>*@
@*<p><a href="http://thebrewstr.com" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>*@

@Html.ActionLink("Sign Up", "Index", "GoogleForms", new { area = "" }, null)

<br> &nbsp  <br> &nbsp  <br> &nbsp  <br> &nbsp

<h3>AUTOMATION + QUALITY</h3> <br />
<p>Brewstr aims to empower the world by reinventing the experience of crafting beer and cider at home. We are developing an <b>automated homebrewing <br /> system</b> that provides a creative outlet for craft enthusiasts to produce quality personalized beverages.</p>
<br> &nbsp  <br> &nbsp  <br> &nbsp  <br> &nbsp

<p>
    <a href="http://www.vancitybuzz.com/2016/04/cheers-automatic-homebrew-machine-designed-sfu-students/">
        <img src="~/Images/vancity_buzz.png" alt="" border="0">
    </a>
    <a href="https://www.biv.com/article/2016/4/students-brew-new-spin-business-homemade-beer/">
        <img src="~/Images/business_in_vancouver.png" alt="" border="0">
    </a>
    <a href="http://vancouver.24hrs.ca/2016/04/17/sfu-students-developing-keurig-for-beer">
        <img src="~/Images/24hr_news.png" alt="" border="0">
    </a>
    <a href="http://www.metronews.ca/news/vancouver/2016/04/25/sfu-students-hopped-up-on-hopes-for-home-brewing-machine.html">
        <img src="~/Images/vancouver_metro.png" alt="" border="0">
    </a>

</p>
<br />
<br /><br />
<br /><br />
<br />
<br />
<a class="twitter-timeline" href="https://twitter.com/thebrewstr" data-widget-id="725578744073584640">Tweets by thebrewstr</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>