@{
    ViewBag.Title = "recipeList_Home";
}

    @Styles.Render("~/Content/Recipe.css")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- Page Content -->
<div id="marketplace-wrapper">
    <div id="marketplace-columns">
        <div class="recipe">
            <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
            <p>
                Blonde Pale Ale
            </p>
        </div>

        <div class="recipe">
            <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
            <p>
                Oldknow's Nutcracker
            </p>
        </div>

        <div class="recipe">
            <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
            <p>
                Epic IPA
            </p>
        </div>

        <div class="recipe">
            <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
            <p>
                Island Lager
            </p>
        </div>

        <div class="recipe">
            <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
            <p>
                Nutmeg Stout
            </p>
        </div>

        <div class="recipe">
            <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
            <p>
                Some other kind of beer...
            </p>
        </div>
    </div>
</div>