
<style type="text/css">
    body {
        background-color: #f4f4f4;
        color: #5a5656;
        line-height: 1.5em;
        text-align: center;
        background-image: url('~/Images/vancity_buzz.png');
        background-size: 1440px 800px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
@{
    ViewBag.Title = "About";
}    

<h2>TEAM</h2>
<br /> <br />

<p><b>Derek Muxworthy </b>- Mechatronics Systems Engineering student passionate about software & control systems design</p>
<br />
<p><b>Jeremy Thompson </b>- Tech-enthusiast pursuing Bachelor's in Mechatronics Systems Engineering</p>
<br />
<p><b>Jordan Sciberras </b>- Mechatronic Systems Engineering student with experience in project management</p>
<br />
<p><b>Karan Thakur </b>- BBA student with industry experience in start-up financing & private placements</p>
<br />
<p><b>Kavi Sekhon </b>- BBA student in Management Information Systems, Operations, Innovation, and pursuing a BTM Certificate</p>
<br />
<p><b>Ryan Lymburner </b>- Double degrees student pursuing a BBA & a Bachelor's in Mechatronics System Engineering</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br />


