@using brewstrWebApp.Models

@{
    ViewBag.Title = "Index";
}
@{
    var recipe = (Recipe)TempData["MyRecipe"];
}

<h2>@recipe.name</h2>
<h2>@recipe.author</h2>
<h2>@recipe.category</h2>
<h2>@recipe.dateCreated</h2>

